@font-face {
  font-family: 'EurostileLTPro-BoldEx2';
  src: url('/webfonts/2650DC_0_0.eot');src: url('/webfonts/2650DC_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2650DC_0_0.woff') format('woff'),url('/webfonts/2650DC_0_0.ttf') format('truetype');
}

.container {
  max-width: 728px;
  padding: 0 8px;
}

.tagline{
  padding-top: 2em;
}

body, body p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

p img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  border: 1px solid #efefef;
}

.navbar {
  background: #2692d7;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.navbar .navbar-brand {
  color: #fff;
  font-family: 'EurostileLTPro-BoldEx2';
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.navbar-brand span {
color: #9CB6EB;
font-size: 16px;
font-family: "EurostileLTPro-BoldEx2", Arial, Sans-serif;
text-transform: lowercase;
}

.navbar-nav > li > a {
  color: #e3ecff;
}

.navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-nav > li.signup {
  margin-left: 8px;
}

.btn{
  font-weight: normal;
}

.navbar-nav > li.signup > a.btn.btn-success {
  padding: 3px 10px;
  color: #fff;
  position: relative;
  top: 11px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.navbar-nav > li.signup > a.btn.btn-success:hover {
  background-color: #48c9b0;
  border-color: #48c9b0;
  color: #fff;
}

.btn-success{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.navbar-toggle {
  border: 2px solid #f3f8ff;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.navbar-toggle .icon-bar {
  background-color: #f3f8ff;
}

.navbar-toggle:hover {
  background: #36a2e7;
}

.nav-collapse.navbar-responsive-collapse.in .navbar-nav > li.signup > a.btn.btn-success {
  margin-bottom: 8px;
}

.navbar-nav > .nav-break {
color: #9CB6EB;
padding: 15px 10px 15px 0;
line-height: 20px;
border-radius: 4px;
}

.login{
  background-image: -webkit-linear-gradient(top, #2692d7,#CAD8EB 50%,#CAD8EB 50%,#2692d7);
  background-image: linear-gradient(to bottom, #2692d7,#CAD8EB 50%,#CAD8EB 50%,#2692d7);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1px 100%;
  margin-left: 18px;
  padding-left: 15px;
}

footer div {
  margin-bottom: 24px;
}

footer div #feeds {
  position: relative;
  bottom: 5px;
}

h1.post-title {
  font-size: 32px;
}

h1.post-title a:hover {
  text-decoration: none;
}

a.btn.read-more {
  display: block;
  margin: 12px 0;
  background-color: #fcfcfc;
}

.pnav {
  margin: 8px 0 0;
}

.well iframe {
  margin: 0 auto;
}
