{% include head.html %}
<body>
  <div id="cont">
    <section role="main">
      <header id="page-header" role="banner">
        <h1>
          <a href="/">
            <img src="/images/blogwhite.png" width="160" style="border: none;padding: 0;" />
          </a>
        </h1>
        <ul class="header-nav">
          <li><a href="https://twitter.com/intent/user?screen_name=nitrousio">@nitrousio</a></li>
          <li><a href="http://updates.nitrous.io">updates</a></li>
          <li><a href="https://www.nitrous.io" class="btn">home</a></li>
        </ul>
      </header>
      <hr />
      <div id="content">
        {{ content }}
      </div>
    </section>
    {% include footer.html %}
  </div>
  {% include ga.html %}
</body>
</html>
