{% include head.html %}
<body>
  <div id="cont">
    <section role="main">
      <header id="page-header" role="banner">
        <h1><a href="/">action.io <span>updates</span></a></h1>
        <ul class="header-nav">
          <li><a href="http://github.com/action-io">Github</a></li>
          <li><a href="http://blog.action.io">Blog</a></li>
          <li><a href="https://www.action.io" class="btn">Sign Up</a></li>
        </ul>
      </header>
      <hr />
      <div id="content">
        {{ content }}
      </div>
    </section>
    {% include footer.html %}
  </div>
  {% include ga.html %}
</body>
</html>
