---
layout: default
---

<div class="post">
  {% if post.draft %}
    <p class="alert"> You've stumbled upon a draft. Sorry if it's illegible!</p>
  {% else %}
    <h1 class="post-title"> {{ page.title }}</h1>
      <p class="text-muted">
        <time pubdate datetime="{{ page.date | date: "%d %B %Y" }}">{{ page.date | date: "%d %B %Y" }}</time>
      </p>              
    {{ content }}
  {% endif %}
</div>

{% include sharing.html %}

<div class="pnav clearfix">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}" title="Older" class="pnav older pull-right">Older Posts &raquo;</a>
  {% endif %}

  {% if page.next.url %}
    <a href="{{page.next.url}}" title="Newer" class="pnav newer pull-left">&laquo; Newer Posts</a>
  {% endif %}
</div>

<hr />
