---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="post">
  {% if post.draft %}
    <p class="alert"> You've stumbled upon a draft. Sorry if it's illegible!</p>
  {% else %}
    <h1 class="post-title"> {{ page.title }}</h1>
      <p class="text-muted">
        <time pubdate datetime="{{ page.date | date: "%d %B %Y" }}">
          {{ page.date | date: "%d %B %Y" }} 
            {% if author.display_name %}
              by {{ author.display_name }}
            {% endif %}</time>
      </p>              
    {{ content }}
  {% endif %}
</div>

{% include sharing.html %}

<div class="pnav clearfix">
  {% if page.next.url %}
    <a href="{{page.next.url}}" title="Newer" class="pnav newer pull-right">Newer Post <i class="icon-angle-right"></i></a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{page.previous.url}}" title="Older" class="pnav older pull-left"><i class="icon-angle-left"></i> Older Post</a>
  {% endif %}
</div>

<hr />
