---
layout: default
---

<div class="post">
  {% if post.draft %}
    <p class="alert"> You've stumbled upon a draft. Sorry if it's illegible!</p>
  {% else %}
    <article>
      <header>
        <hgroup>
          <h1> {{ page.title }}</h1>
          <p>
            <time pubdate datetime="{{ page.date | date: "%d %B %Y" }}">{{ page.date | date: "%d %B %Y" }}</time>
          </p>
        </hgroup>
      </header>
      {{ content }}
    </article>
  {% endif %}
</div>

{% include sharing.html %}

{% if page.previous.url %}
  <div class="older"><a href="{{page.previous.url}}" title="Older">Older Posts &raquo;</a></div>
{% endif %}

{% if page.next.url %}
  <div class="newer"><a href="{{page.next.url}}" title="Newer">&laquo; Newer Posts</a></div>
{% endif %}

{% if site.related_posts.count > 0 %}
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
<hr />
